.toy-collected_-u-i {
    -unity-font-definition: var(--font-regular);
}

.hud-container {
    width: 100%;
}

.toy-container {
    align-items: center;
}

.shine {
    background-color: rgba(0, 0, 0, 0);

    position: absolute;
    top: -28px;

    height: 192px;
    width: 192px;

    rotate: 0deg;
}

.toy {
    background-color: rgba(0, 0, 0, 0);
    height: 128px;
    width: 128px;
}
